<h1>Insert the form to edit an instance of your model here.</h1>

<form action="/tasks/<%= @task.id %>" method="post">
    <h1> Task Name:<%= @task.task_name%></h1>
    <input type="text" name="task_name" id="task_name">
    
    <h1> Task Type:<%= @task.task_type%></h1>
    <input type="text" name="task_type" id="conttask_typeent">

    <h1> Task Content:<%= @task.task_content%></h1>
    <input type="text" name="task_content" id="task_content">

    
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <input type="text" >
    <input type="submit" id="Submit" value="Update Your Task">

</form>