<h1>This is the show page for an individual instance of your model.</h1>

<h1><%= @task.task_name %></h1>
<p><%= @task.task_type %></p>
<p><%= @task.task_content %></p>


<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Task?">
</form>