

<h1>Task Name: <%= @task.task_name %></h1>
<h2>Type of Task: <%= @task.task_type %></h2>
<p>Specifics about this task: <%= @task.task_content %></p>


<form action="/tasks/<%=@task.id%>/delete" method="post">
  

  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Task?">
</form>

