

<h1>Use this form to create a new User</h1>
<br>

<form action="/users" method="POST">
    
    <label for "name"> Enter User Name: </label>
    <input type="text" id="name">
    <br>
    <br>
    <label for "age"> Enter User Age: </label>
    <input type="text" id="age">
    <br>
    <br>
    <input type="submit" value="Create your User">

</form>