

<h1>  Sign up for Task Hammer </h1>
<p> If you have reached this page after trying to log in, please make sure to fill in all text fields. </p> 
<p> If you already have an account with us, please go back to login page and re-enter your information </p>

<form action="/users" method="POST">
    
    <label for "name"> User Name: </label>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <label for "email"> User Email: </label>
    <input type="email" name="email" id="email">
    <br>
    <br>
    <label for "password"> User Password: </label>
    <input type="password" name="password" id="password">
    <br>
    <br>
    <input type="submit" value="Create your User">

</form>
    
