<div class="container">
 
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Task Hammer</h1>
    <h2>Keep track of your life</h2>
    <div class="content">
    
    <p>If you already have an account, please log in.  Otherwise, we would love for you to sign up!</p>

    <a href="/signup" class="button1">Sign Up</a>
    
    

  </div>
</div>
